*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #222;
  color: #f1f1f1;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin: 40px auto;
}

.container h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.container-flags {
  position: absolute;
  top: 40px;
  left: 25px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-flags img {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container-flags {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    flex-direction: row;
  }
}
